.header{
    padding: calc(2 * var(--gutter)) 0;
    border-bottom: 2px solid var(--color-300);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        &-image{
            max-height: 50px;
        }
    }

    &__dropdown {
        max-width: 120px;
    }
}