.input {
    border-radius: 1rem;
    width: 100%;
    outline: none;
    font-size: calc(2 * var(--gutter));
    font-family: var(--font-primary);
    color: var(--color-100);
    padding: 0 10px;

    &--wrapper {
        display: flex;
        font-size: calc(3 * var(--gutter));
    }

    &--placeholder {
        color: var(--color-200);
        padding-right: calc(0.5 * var(--gutter));
    }
}