.text {
    margin: 0;
    
    &-color {
        &-100{
            color: var(--color-100);
        }
        &-200{
            color: var(--color-200);
        }
    }
    
    &-warning {
        margin: 10px;
        color: var(--color-warning);
    }

    &-weight {
        &-normal{
            font-weight: 400;
        }

        &-bold {
            font-weight: bold;
        }
    }
}